<!DOCTYPE html>
<html data-ng-app="AedestatsApp" data-ng-cloak
    
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../css/main.css">
        <h1>{{messages["AEDESTATS"]}}</h1>
        <h5>{{messages["AEDESTATS_DESCRIPTION"]}}</h5>
        <hr/>
    </head>
    <body>
        
        <div id="filters" data-ng-controller="AedestatsDataController as adCtrl">
            
            <label for="city" class="lbl">{{messages["AREA"]}}</label>
            <multilevel-select item-label="name" items="adCtrl.areas" data-ng-model="adCtrl.filter.area" on-change="adCtrl.updateStats" hierarchy-attribute="type" hierarchy="city, region, zone, nbh"></multilevel-select>

        </div>
        
        <div id="stats" data-ng-controller="AedestatsStatsController as agsCtrl">
            
            <div class="data" data-ng-show="agsCtrl.stats">
                
                <div class="segment">
                    <span class="lbl">{{messages["POPULATION"]}}</span>
                    <span class="val">{{agsCtrl.stats.population}}</span>
                </div>
                
                <div class="segment">
                    <span class="lbl">{{messages["CASES"]}}</span>
                    <span class="val">{{agsCtrl.stats.totalCases}}</span>
                    
                    <ul>
                        <li>
                             <span class="lbl">{{messages["DNG"]}}</span>
                             <span class="val">{{agsCtrl.stats.dng.total}}</span>
                        </li>
                         
                        <li>
                             <span class="lbl">{{messages["CHK"]}}</span>
                             <span class="val">{{agsCtrl.stats.chk.total}}</span>
                        </li>
                        
                        <li>
                             <span class="lbl">{{messages["ZIK"]}}</span>
                             <span class="val">{{agsCtrl.stats.zik.total}}</span>
                        </li>
                    </ul>
                </div>
                
                <div class="segment">
                    <span class="lbl">{{messages["INF_RATE"]}}</span>
                    <span class="val">{{agsCtrl.stats.infRate}}</span>
                    <ul>
                        <li>
                             <span class="lbl">{{messages["DNG"]}}</span>
                             <span class="val">{{agsCtrl.stats.dng.infRate}}</span>
                        </li>
                         
                        <li>
                             <span class="lbl">{{messages["CHK"]}}</span>
                             <span class="val">{{agsCtrl.stats.chk.infRate}}</span>
                        </li>
                        
                        <li>
                             <span class="lbl">{{messages["ZIK"]}}</span>
                             <span class="val">{{agsCtrl.stats.zik.infRate}}</span>
                        </li>
                    </ul>
                </div>
                
                
            </div>                    
            
            <table class="weekStats" data-ng-show="agsCtrl.stats">
                
                <thead>
                     <tr>
                        <th>{{messages["VIRUS"]}}</th>
                        <th colspan="54">{{messages["WEEKS"]}}</th>
                    </tr>    
                    <tr>
                        <th></th>
                        <th class="tableNumber" data-ng-repeat="weekStat in agsCtrl.stats.dng.casesPerWeek track by $index">{{$index + 1}}</th>  
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td>{{messages["DNG"]}}</td>
                        <td class="tableNumber" data-ng-repeat="weekStat in agsCtrl.stats.dng.casesPerWeek track by $index">{{weekStat}}</td>
                    </tr>
                    <tr>
                        <td>{{messages["CHK"]}}</td>
                        <td class="tableNumber" data-ng-repeat="weekStat in agsCtrl.stats.chk.casesPerWeek track by $index">{{weekStat}}</td>
                    </tr>
                    <tr>
                        <td>{{messages["ZIK"]}}</td>
                        <td class="tableNumber" data-ng-repeat="weekStat in agsCtrl.stats.zik.casesPerWeek track by $index">{{weekStat}}</td>
                    </tr>
                </tbody>
                
            </table>

          
        </div>
        
        
        <div id="chartsArea" data-ng-controller="AedestatsChartsController as acCtrl">
              
            <line-chart id="weekChart" chart-data="acCtrl.charts.line.data" width="1000" height="200"></line-chart>
            <pie-chart id="totalChart" chart-data="acCtrl.charts.pie.data" value-label="{{messages['CASES']}}" percentage-label="{{messages['PROPORTION']}}" width="240" height="240"></pie-chart>  
            
        </div>
      
        
        <script type="text/javascript" src="../node_modules/chart.js/dist/Chart.js"></script>
                
        <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
        <script type="text/javascript" src="../node_modules/angular-mocks/angular-mocks.js"></script>
        
        <script type="text/javascript" src="../js/angular/locale/locale_pt-br.js"></script>
        <script type="text/javascript" src="../js/angular/locale/locale_en-us.js"></script>
        
        <script type="text/javascript" src="../js/util/AedestatsUtils.js"></script>
                
        <script type="text/javascript" src="../js/angular/modules/LocaleApp.js"></script>
        <script type="text/javascript" src="../js/angular/modules/TaglibApp.js"></script>
        <script type="text/javascript" src="../js/angular/modules/ServicesApp.js"></script>
        <script type="text/javascript" src="../js/angular/modules/AedestatsApp.js"></script>
        
        <script type="text/javascript" src="../js/angular/httpBackendStub.js"></script>
        
        <script type="text/javascript" src="../js/angular/providers/LocaleProvider.js"></script>
        <script type="text/javascript" src="../js/angular/services/EventsService.js"></script>
        <script type="text/javascript" src="../js/angular/services/AedestatsService.js"></script>
        
        <script type="text/javascript" src="../js/angular/directives/LineChart.js"></script>
        <script type="text/javascript" src="../js/angular/directives/PieChart.js"></script>
        <script type="text/javascript" src="../js/angular/directives/MultilevelSelect.js"></script>
        <script type="text/javascript" src="../js/angular/controllers/AedestatsApp/AedestatsDataController.js"></script>
        <script type="text/javascript" src="../js/angular/controllers/AedestatsApp/AedestatsStatsController.js"></script>
        <script type="text/javascript" src="../js/angular/controllers/AedestatsApp/AedestatsChartsController.js"></script>
    </body>
</html>